.container {
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 90vh;
}
 
section {
    display: flex;
    width: 80%;
}

.left-content {
    flex: 30px;
}

.right-content {
    flex: 100px;
    margin: auto;
}

.container-skill {
    display: flex;
    margin-top: 25px;
    margin-right: auto;
}

.container-sosmed{
    margin-top: 25px;
}

.container-sosmed i {
    font-size: 30px;
    margin-right: 20px;
}