* {
    margin: 0;
    font-family: poppins;
}

nav {
    display: flex;
    background-color: darkcyan;
    height: 9vh;
}

nav div {
    display: flex;
    align-items: center;
    flex: 50%;
}

nav div.left-side{
    padding-left: 100px;
}

nav div.right-side{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    display: flex;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a.active {
    color: orange;
    font-size: 18px;
    font-weight: bolder;
}

nav .right-side a {
    font-size: 15px;
    padding: 5px 20px;
    background-color: orange;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}